<!DOCTYPE HTML>
<html>
<head>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon.ico"/>
    <title>WRENCH - Citations</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>
<body>
<div class="ui inverted bottom attached menu">
    <div class="header item">
        <img src="favicon.ico" style="width: 2em"/>
        &nbsp;&nbsp;&nbsp;WRENCH
        <span style="font-weight: normal; color: #999">&nbsp;Citations</span>
    </div>
    <div class="right menu">
        <div class="item" style="font-size: 0.8em; color: #999">
            Last modified: October 20, 2020
        </div>
    </div>
</div>
<div id="ui container" style="padding: 1em">
    <canvas id="citationsChart" style="max-height: 30em; max-width: 50%"></canvas>
    <table class="ui compact small striped celled table">
        <thead>
        <tr>
            <th></th>
            <th>Year</th>
            <th>Type</th>
            <th>Title</th>
            <th>Authors</th>
            <th>External Citation</th>
            <th>Used WRENCH</th>
        </tr>
        </thead>
        <tbody>
        {% assign citations = site.data.citations | sort: "year" | reverse %}
        {% assign citation_count = citations | size %}
        {% for n in citations %}
        <tr>
            <td data-label="row" style="color: #999">{{citation_count}}</td>
            <td data-label="year">{{n.year}}</td>
            <td data-label="type">{{n.type}}</td>
            <td data-label="title"><a href="{{n.url}}" target="_blank">{{n.title}}</a></td>
            <td data-label="authors">{{n.authors}}</td>
            <td data-label="self"><i class="{% unless n.self %}green check{% endunless %} icon"></i></td>
            <td data-label="usage"><i class="{% if n.usage %}green check{% endif %} icon"></i></td>
        </tr>
        {% assign citation_count = citation_count | minus: 1 %}
        {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">
    let entries = [
        {% assign citations = site.data.citations | sort: "year" %}
    {% assign citation_count = citations | size %}
    {% for n in citations %}
    {
        year: "{{n.year}}",
        type: "{{n.type}}",
        title: "{{n.title}}",
        self: "{{n.self}}",
        usage: "{{n.usage}}"
    },
    {% endfor %}
    ]
    let data = {
        labels: [],
        datasets: [],
    }
    let datasetTypes = ["Journal", "Conference", "Workshop", "PhD Thesis", "Master Thesis", "Report", "Presentation"];
    let datasetColors = ["#A7226E", "#EC2049", "#F7DB4F", "#F26B38", "#2F9599", "#547980", "#FF8C94"];
    for (let i = 0; i < datasetTypes.length; i++) {
        data.datasets.push({
            label: datasetTypes[i],
            backgroundColor: datasetColors[i],
            data: []
        });
    }
    for (let i = 0; i < entries.length; i++) {
        if (!data.labels.includes(entries[i].year)) {
            data.labels.push(entries[i].year);
            for (let j = 0; j < datasetTypes.length; j++) {
                data.datasets[j].data.push(0);
            }
        }
        let index = datasetTypes.indexOf(entries[i].type);
        data.datasets[index].data[data.labels.indexOf(entries[i].year)]++;
    }
    console.log(data);
    let ctx = document.getElementById("citationsChart");
    new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
            scales: {
                yAxes: [{
                    stacked: true,
                    scaleLabel: {
                        labelString: 'Number of Citations'
                    }
                }],
                xAxes: [{
                    stacked: true,
                    scaleLabel: {
                        labelString: 'Years'
                    }
                }]
            },
            chartArea: {
                backgroundColor: "#FEF8F8"
            },
            // legend: {
            //     display: false
            // },
            tooltips: {
                position: 'nearest',
                mode: 'point',
                intersect: 'false'
            }
        }
    });
</script>
</body>
</html>
